


# General
.DS_Store
.AppleDouble
.LSOverride


*.env

#
cachecabinet/package-lock.json
cachecabinet/node_modules

# server
cachecabinet/Server/package-lock.json

# client
cachecabinet/Client/package-lock.json
