


# General
.DS_Store
.AppleDouble
.LSOverride

node_modules

*.env
cachecabinet/Server/package-lock.json
Server/package-lock.json
cachecabinet/Client/package-lock.json
cachecabinet/package-lock.json
