* {
  box-sizing: border-box;
}

/* Apply styles to the card container */
.AddItem {
  max-width: 400px; 
  margin: 20px auto; 
  color: white;
  padding: 15px; 
  border: 1px solid #ccc; 
  background-color: #b6b9a4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
}

.AddItem form input {
  border: none; 
  padding: 6px;
  margin-bottom: 2px;
}

/* Style the form elements within the card */
form {
  display: flex;
  flex-direction: column;
}

.collectionname {
  color: #f2e4d4;
}

/* Style the button */
button {
  margin-top: 10px; 
  width: 100%; 
  padding: 10px; 
  border: none; 
  border-radius: 10px; 
  cursor: pointer; 
}


/* Style the button on hover for better feedback */
button:hover {
  background-color: #92e3fe; 
}


.imageupload {
  position: relative;
  bottom: 22px;
}
