* {
    box-sizing: border-box;
}

body {
    background-color: #E4C9B6;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 50px;
  }

  .card-footer-item.button:hover {
    filter: brightness(70%);
  }
  
  @media screen and (max-width: 400px) {
    .is-half-desktop {
      margin-right: 0.7em;
    }
    .container.box.has-text-centered {
        margin-right: 0.7em;
      }
  }
  
  
