* {
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
}

div.hero-body {
  padding: 0px;
}

.footer {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

img.leftdesign {
  position: relative;
  bottom: 100px;
  left: 80px;
  width: 250px;
  height: 443.89px;
}

img.rightdesign {
  position: relative;
  left: 25px;
  width: 250px;
  height: 338.07px;
}


footer.footer {
  padding: 0px 24px 10px;
}

/* Add this to your existing CSS file or create a new one */
/* Add this to your existing CSS file or create a new one */
/* Apply styles only when the screen width is 1024px or less */
@media screen and (min-width: 1025px) {
  img.leftdesign {
    position: relative;
    left: 130px;
  }
}

@media screen and (max-width: 900px) {
  h1.title.is-1 {
    font-size: 40px;
  }
  p.subtitle.is-3 {
    font-size: 25px; /* Decrease font size by 10% */
  }
  img.rightdesign,
  img.leftdesign {
    display: none;
  }
}

/* Apply styles only when the screen width is 400px or less */
@media (max-width: 400px) {
  h1.title.is-1 {
    display: none; /* Hide title on small screens */
  }
  p.subtitle.is-3 {
    font-size: 18px; /* Decrease font size by 10% */
    position: relative;
    top: 100px;
    margin-bottom: 40px;
    padding-bottom: 30px;
  }
  a.has-text-white.is-size-4 {
    position: relative;
    top: 20px;
  }
  .columns.is-centered.is-mobile {
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .column.is-5.is-mobile {
    width: 100%;
    text-align: center;
  }
  .column,
  .footer {
    margin-top: 5px; /* Adjust the value based on your design */
  }
  form.login {
    position: relative;
    top: 15px;
    margin-right: 0px;
  }
  form.register {
    margin-left: 30px;
    width: 300px;
  }
  .subtitle.has-text-centered {
    font-size: 15px;
  }
  img.rightdesign,
  img.leftdesign {
    display: none;
  }
  .container.box.has-text-centered {
    position: relative;
    right: 35px;
  }
}

@media screen and (min-width: 1024px) and (min-height: 700px) {
  form.login,
  form.register {
    width: 400px;
  }
}

@media screen and (min-width: 768px) and (min-height: 1024px) {
  form.login,
  form.register {
    width: 400px;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
  }
  form.register {
    position: relative;
    top: 200px;
  }
  .has-text-white.is-size-4 {
    position: relative;
    left: 166px;
  }
}

@media screen and (min-width: 1024px) and (min-height: 900px) {
  form.register {
    position: relative;
    top: 200px;
    margin-bottom: 200px;
  }
  a.has-text-white.is-size-4 {
    position: relative;
    left: 50px;
    top: 20px
  }
  form.login {
    position: relative;
    top: 20px;
    width: 300px;
  }
}

@media screen and (min-width: 900px) and (min-height: 1300px) {
  form.login {
    position: relative;
    top: 200px;
    width: 300px;
  }
  .footer {
    position: relative;
    top: 200px;
  }
  a.has-text-white.is-size-4 {
    position: relative;
    left: 0px;
    top: 200px
  }
  form.register {
    position: relative;
    left: 225px;
  }
}

@media screen and (min-width: 900px) and (min-height: 1300px) and (max-height: 1370px) {
  img.rightdesign,
  img.leftdesign {
    display: none;
  }
}

@media screen and (min-width: 1300px) and (min-height: 1024px) {
  form.register {
    position: relative;
    left: 315px;
  }
}

@media screen and (min-width: 1360px) and (max-height: 915px) {
  a.has-text-white.is-size-4 {
    position: relative;
    top: 20px;
    left: 55px;
  }
  form.login {
    position: relative;
    left: 55px;
    top: 20px;
  }
}

@media screen and (min-width: 800px) and (max-height: 1180px) and (max-width: 850px) {
  form.login {
    position: relative;
    top: 80px;
    width: 400px;
  }
  form.register {
    position: relative;
    left: 195px;
  }
  a.has-text-white.is-size-4 {
    position: relative;
    top: 80px;
    left: 0;
  }
  .footer {
    position: relative;
    top: 20px;
  }
}

@media screen and (min-width: 1100px) and (max-height: 830px) {
  form.register {
    position: relative;
    top: 0px;
    left: 0;
  }
}

@media screen and (min-width: 1170px) and (max-height: 830px) {
  form.login {
    position: relative;
    top: 20px;
  }
  a.has-text-white.is-size-4 {
    position: relative;
    top: 20px;
  }
  img.leftdesign {
    position: relative;
    left: 35px;
  }
}

@media screen and (min-width: 1400px) {
  form.login {
    position: relative;
    left: 30px;
  }
  a.has-text-white.is-size-4 {
    position: relative;
    left: 30px;
  }
  img.rightdesign {
    position: relative;
    left: 60px;
  }
  img.leftdesign {
    position: relative;
    left: 200px;
  }
}

@media screen and (width: 1024px) and (height: 768px) {
  img.rightdesign,
  img.leftdesign {
    display: none;
  }
  form.login {
    position: relative;
    top: 20px;
  }
  a.has-text-white.is-size-4 {
    position: relative;
    top: 20px;
  }
}











