* {
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
}




.footer {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

footer.footer {
  padding: 48px 24px 20px;
  position: relative;
}


/* Add this to your existing CSS file or create a new one */
/* Add this to your existing CSS file or create a new one */
@media screen and (min-width: 1000px) {
  form.register {
    width: 500px;
  }
}

@media screen and (max-width: 800px) {
  h1.title.is-1 {
    font-size: 40px;
  }
 p.subtitle.is-3 {
    font-size: 25px; /* Decrease font size by 10% */
  }
  footer {
    position: relative;
    top: 250px;
  }
}

@media screen and (max-width: 400px) {
  .title.is-1 {
    display: none;
  }
  p.subtitle.is-3 {
    font-size: 18px; /* Decrease font size by 10% */
    position: relative;
    top: 100px;
    margin-bottom: 40px;
    padding-bottom: 30px;
  }
}

/* Apply styles only when the screen width is 400px or less */
@media (max-width: 400px) {
  .columns.is-centered.is-mobile {
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .column.is-5.is-mobile {
    width: 100%;
    text-align: center;
  }

  .column {
    margin-top: 5px; /* Adjust the value based on your design */
  }
  form.login {
    position: relative;
    top: 15px;
  }
  .footer {
    position: relative;
    top: 100px;
  }
  form.register {
    margin-left: 25px;
    width: 300px;
  }
  .subtitle.has-text-centered {
    font-size: 15px;
  }
}










